<!-- <section class="container-fluid content-graphics">
  <div>
    <div class="col-12 col-md-11 my-10">
      
      <iframe
        title="Superset Dashboard"
        width="110%"
        height="650"
        frameborder="0"
        allowfullscreen
        src="https://superset-qa.adacsc.co/superset/dashboard/30/?standalone=1">
      </iframe>
    </div>
  </div>
</section> -->
<div class="custom-block-iframe">
  <iframe width="640" height="390" [src]="urlRedirect" loading="lazy" allowfullscreen></iframe>
</div>
